http://dashboard.home.tverghis.space {
	reverse_proxy grafana:3000
}

http://files.home.tverghis.space {
	reverse_proxy copyparty:3923
}

http://pico.home.tverghis.space {
	reverse_proxy pico:8080
}

http://pico-preview.home.tverghis.space {
	reverse_proxy pico-preview:8080
}
